/*** sectioning elements ***/

body {

}

header {

}

main {

}

footer {

}

nav {

}

#navbar ul li a:link, #navbar ul li a:visited {
    display: block;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
}

#navbar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar li.active {
    background-color: #FFF;
    color: black;
}

section {

}

aside {

}


/**** content styles ***/

h1 {
  text-align: center;
  font-family: 'Cormorant SC', serif;
}

h2 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h3 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Cormorant', serif;
}

blockquote {

}

ol {

}

ul {

}


li {

}

li a {

}

li a:hover {

}

div.bg{
    background-image: url('../images/header-shade.jpg');
    width:1351px;
    height:649px;
}

caption {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
}
table {
    margin: 0 auto;
    width: 400px;
}

tr {
    text-align: center;
    font-family: 'Cormorant SC', serif;

}

th {
    text-align: center;
    font-family: 'Cormorant SC', serif;

}

td {
    text-align: center;
}


/*** image styles ***/

img  {

}

img.center {
    display: block;
    margin: 0 auto;
}


/*** link styles ***/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
