/*** sectioning elements ***/

body {
      background: url("/img/parchment.jpg") no-repeat;
      background-attachment: fixed;
}

header {

}

main {

}

footer {

}

nav {

}
/*======================
      ODIN OVERRIDE
======================*/

/*navbar*/

.navbar {
    background-color: #fff;
}

.navbar-menu a:link,
.navbar-menu a:visited {
    color: #000;
    font-family: 'Cormorant SC', serif;
}

.navbar-menu a:hover,
.navbar-menu a:active {
    border-bottom: 3px solid #000;
    text-decoration: none;
}

section {

}

aside {

}


/**** content styles ***/

h1 {
  text-align: center;
  font-family: 'Cormorant SC', serif;
}

h2 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h3 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Cormorant', serif;
}

blockquote {

}

ol {

}

ul {

}


li {

}

li a {

}

li a:hover {

}

div.bg{
    background-image: url('../img/parchment.jpg');
    width:1351px;
    height:649px;
}

caption {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
}
table {
    margin: 0 auto;
    width: 400px;
}

tr {
    text-align: center;
    font-family: 'Cormorant SC', serif;

}

th {
    text-align: center;
    font-family: 'Cormorant SC', serif;

}

td {
    text-align: center;
}


/*** image styles ***/

img  {

}

img.center {
    display: block;
    margin: 0 auto;
}


/*** link styles ***/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
