/*** sectioning elements ***/

body {

}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}

p {
  text-align: center;
}

blockquote {

}

ol {

}

ul {

}

li {

}

div.bg{
    background-image: url('../images/header-shade.jpg');
    width:1351px;
    height:649px;
}

table {
  margin: 0 auto;
  width: 400px;
}

tr {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}


/*** image styles ***/

img  {

}

img.center {
    display: block;
    margin: 0 auto;
}


/*** link styles ***/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
